{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <h2>Bienvenido al Sistema de Usuarios</h2>
                    </div>
                    <div class="card-body">
                        <p class="lead">Gestiona tus usuarios, y así tendremos 10 décimas o más para la prueba</p>
                        <p>Este sistema te permitirá:</p>
                        <ul class="list-group">
                            <li class="list-group-item">Ver los libros existentes</li>
                            <li class="list-group-item">Crear, actualizar y eliminar usuarios (si eres admin)</li>
                        </ul>
                        <div class="mt-4">
                            <a href="{% url 'crear_usuario' %}" class="btn btn-primary btn-lg">Crear usuario</a>
                            <a href="{% url 'usuarios' %}" class="btn btn-secondary btn-lg">Ver usuarios</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}